    <div class="alert" role="alert"></div>

    <!-- 加密解密算法 -->
  <script type="text/javascript" src="/libs/crypto-js.js"></script>
  <script type="text/javascript" src="/javascripts/crypto.js"></script>
  </body>
</html>
